<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <title>Private-lessons</title>
    {% endblock head %}

    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/" class="active">Teachers</a>
        <a href="/students">Students</a>
      </nav>
    </header>

    {% block content %}{% endblock content %}
  </body>
</html>