<div class="item">
  <div>Avatar</div>
  <div>
    <input 
      type="url" 
      name="avatar_url" 
      placeholder="https://" 
      value="{{student.avatar_url}}"
    >
  </div>
</div>

<div class="item">
  <div>Nome completo</div>
  <div>
    <input 
      type="text" 
      name="name" 
      value="{{student.name}}"
    >
  </div>
</div>

<div class="item">
  <div>Email</div>
  <div>
    <input 
      type="email" 
      name="email" 
      placeholder="seunome@private-lessons.com" 
      value="{{student.email}}"
    >
  </div>
</div>

<div class="item">
  <div>Data de nascimento</div>
  <div>
    <input 
      type="date" 
      name="birth_date" 
      value="{{student.birth_date}}"
    >
  </div>
</div>

<div class="item">
  <div>Ano escolar</div>
  <div>
    <select name="grade" id="grade">
      <option 
        value="fifth-grade"
        {% if student.grade == "fifth-grade" %}
          selected
        {% endif %}
      >5° ano
      </option>
      <option 
        value="sixth-grade"
        {% if student.grade == "sixth-grade" %}
          selected
        {% endif %}
      >6° ano
      </option>
      <option 
        value="seventh-grade"
        {% if student.grade == "seventh-grade" %}
          selected
        {% endif %}
      >7° ano
      </option>
      <option 
        value="eighth-grade"
        {% if student.grade == "eighth-grade" %}
          selected
        {% endif %}
      >8° ano
      </option>
      <option 
        value="ninth-grade"
        {% if student.grade == "ninth-grade" %}
          selected
        {% endif %}
      >9° ano
      </option>
      <option 
        value="first-year_high-school"
        {% if student.grade == "first-year_high-school" %}
          selected
        {% endif %}
      >1° ano ensino médio
      </option>
      <option 
        value="second-year_high-school"
        {% if student.grade == "second-year_high-school" %}
          selected
        {% endif %}
      >2° ano ensino médio
      </option>
      <option 
        value="third-year_high-school"
        {% if student.grade == "third-year_high-school" %}
          selected
        {% endif %}
      >3° ano ensino médio
      </option>
    </select>
  </div>
</div>

<div class="item">
  <div>Carga horária semanal</div>
  <div>
    <input 
      type="number"
      name="hours_week" 
      value="{{student.hours_week}}"
    >
  </div>
</div>

<div class="item">
  <div>Aluno de</div>
  <div>
    <select name="teacher">
      {% for teacher in teachersOptions %}
      <option value="{{teacher.id}}" {% if student.teacher_id == teacher.id %} selected {% endif %}>
        {{teacher.name}}
      </option>
      {% endfor %}
    </select>
  </div>
</div>